<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reader's Corner</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/859e7ab76e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel='stylesheet' href='css/signup.css'>
    <link rel='stylesheet' href='css/form.css'>
    <!-- Website Icon -->
 <link rel="icon" href="../images/logo1.png" type="image/x-icon" />
<!-- <style>
.navbar li a:hover{
    background-color:rgba(59, 13, 13) ;
    border-radius: 10px ;

}
</style> -->
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="/"><b>
				Reader's Corner</a></b>
          
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
          
              <!-- Links -->
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log In
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Sign Up</a>
                </li>

        
          
              </ul>
              <!-- Links -->
          

            </div>
            <!-- Collapsible content -->
          
    </nav>
    <!--Navbar-->
    

          <!--/stories-->
          <!-- <div class="container-fluid text-center p-5">

            <div class="container-fluid text-center col-6 mt-5" id="myform">
                  <h2>Sign Up</h2>
                  <br>
                  <h6>Create your account. It's free and only take a minute.</h6>
                  
                  <form method="GET" action="/signup/adduser" id="form" class="form align-items-center" onsubmit="return validate()">
                      <div class="flex-container" >
                          <div class="flex-child form-control">
                            <br>
                              <label for="firstname">First Name</label>
                              <input type="text" placeholder="Enter your First Name" id="firstname" name="name" autocomplete="off"/>
                              <i class="fas fa-check-circle"></i>
                              <i class="fas fa-exclamation-circle"></i>
                              <small>Error message</small>
                          </div>
                          <div class="flex-child form-control">
                            <br>
                              <label for="lastname">Last Name</label>
                              <input type="text" placeholder="Enter your Last Name" id="lastname"name="lname" autocomplete="off" />
                              <i class="fas fa-check-circle"></i>
                              <i class="fas fa-exclamation-circle"></i>
                              <small>Error message</small>
                          </div>
                      </div>
                      <br>
                      <br>
                      <div class="mb-3 form-control">
                          <label for="Email">Email</label>
                          <input type="email" placeholder="Enter your Email" id="email" name="userid" autocomplete="off"/>
                          <i class="fas fa-check-circle"></i>
                          <i class="fas fa-exclamation-circle"></i>
                          <small>Error message</small>
                      </div>
                     <br>
                      <div class="mb-3 form-control">
                          <label for="Password">Password</label>
                          <input type="password" placeholder="Password" id="password" name="pwdid" autocomplete="off"/>
                          <div class="pw-display-toggle-btn">
                          <i class="fas fa-eye" id ="myEye" ></i>
                          <i class="fas fa-eye-slash" id ="myEye" ></i>
                          </div>
                          <div class="pw-strength">
                              <span>Weak</span>
                              <span></span>
                          </div>
                          <small>Error message</small>
                          <br>
                      </div>
                   <br>
                   <br>
                      <button type="submit" name="submitButton">Submit</button>
                  </form>
  
                      <p class="mySignup" style="text-align: center;
                          font-weight: bolder;">
                          By clicking the Submit button,you agree to our <br />
                          <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
                      </p>
              
                      <p class="para-2">
                          Already have an account? <a href="./login">Login here</a>
                      </p>
          </div>
                
          </div> -->
		  <div class="testbox">
			<form method="GET" action="/signup/adduser" id="form" class="form align-items-center" onsubmit="return validate()">
			  <div class="banner">
				<h1>Signup</h1>
			  </div>
			  <br/>
			  <p>New here? Sign up to explore more.</p>
			  <br/>
			  <div class="colums">
				<div class="item">
					
					<input type="text" placeholder="First Name" id="firstname" name="name" autocomplete="off"/>
					<div class="error">
					<i class="fas fa-check-circle"></i>
					<i class="fas fa-exclamation-circle"></i>
					<small></small>
				</div>
				</div>
				<br>
				<div class="item" id="classlast">
				     
                     <input type="text" placeholder="Last Name" id="lastname"name="lname" autocomplete="off" />
                     <div class="error">
					 <i class="fas fa-check-circle"></i>
                     <i class="fas fa-exclamation-circle"></i>
                     <small></small>
					</div>
					 </div>
					 <br>
				<div class="item">
					
					<input type="email" placeholder="Enter your Email" id="email" name="userid" autocomplete="off"/>
					<br>
					<i class="fas fa-check-circle"></i>
					<i class="fas fa-exclamation-circle"></i>
					<small></small>
				</div>
				<br>
				<div class="item">
					
                          <input type="password" placeholder="Password" id="password" name="pwdid" autocomplete="off"/>
                          <div class="pw-display-toggle-btn">
                          
				</div><br>
				<div class="pw-strength">
					<span></span>
					<span></span>
				</div>
				<small></small>
				<br>
			</div>
				
				
			  </div>
			 
				  
			  <div class="btn-block">
				
				<button type="submit" name="submitButton">Submit</button>
			
			</div>
			  <br>
		  <p class="para-2">
            Already have an account? <a href="./login">Login here</a>
          </p>
			</form>
			
		  

		  </div>
          <!--/stories-->

    <br>


    <!-- Footer -->
    <footer class="page-footer">

            <!-- Copyright -->
            <div class="footer-copyright text-center text-white py-3">© 2022 Copyright:
            <a href="/"> Reader's Corner</a>
            </div>
            <!-- Copyright end -->
    
            
    </footer>
    <!-- Footer End-->

    <script src="js/signup.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      const form = document.getElementById('form');
const firstname = document.getElementById('firstname');
const lastname = document.getElementById('lastname');
const email = document.getElementById('email');
const password = document.getElementById('password');
const password2 = document.getElementById('password2');
const phone = document.getElementById('phone');
function validate() {
	// trim to remove the whitespaces
	const firstnameValue = firstname.value.trim();
	const lastnameValue = lastname.value.trim();
	const emailValue = email.value.trim();
	const passwordValue = password.value.trim();
	
	var alpha= /^[a-zA-Z]+/;
	var alphapwd= /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

    var num = /[0-9]+/;
	var space =/[\s]+/;
    // First Name Validation
    if(firstnameValue === '' || (firstnameValue.length<=2)) 
	{
		setErrorFor(firstname, 'Firstname should be more than 2 alphabets');
		return false;
	}
	
	else if (firstnameValue.length>20) 
	{
		setErrorFor(firstname, 'Firstname should be less than 20 alphabets');
				return false;
	}
	else if(!firstnameValue.match(alpha))  
	{
			setErrorFor(firstname, 'Remove special characters');
					return false;
	} 
    else if(firstname.value.match(space))
	{
			setErrorFor(firstname, 'Remove Spaces');
					return false;
	} 
    else if(firstnameValue.match(num))
	{
			setErrorFor(firstname, 'Remove numbers');
					return false;
	} 
	
	else 
	{
		setSuccessFor(firstname);
                // Last Name Validation
				if(lastnameValue === '' || (lastnameValue.length<=2))
				{
				setErrorFor(lastname, 'Lastname should more than 2 alphabets');
						return false;
				}  
				
				else if (lastnameValue.length>20) 
				{
					setErrorFor(lastname, 'Lastname should be less than 20 alphabets');
							return false;
				}
				else if(!lastnameValue.match(alpha))
				{
					setErrorFor(lastname, 'Remove special characters');
							return false;
				} 
                else if(lastname.value.match(space)) 
				{
					setErrorFor(lastname, 'Remove spaces');
							return false;
				} 
                else if(lastnameValue.match(num))
				{
					setErrorFor(lastname, 'Remove numbers');
							return false;
				} 
				
				else 
				{
					setSuccessFor(lastname);
                    // Email Validation
					if(emailValue === '') 
					{
						setErrorFor(email, 'Email cannot be blank');
								return false;
					}
                    else if (email.value.match(space)) 
					{
						setErrorFor(email, 'Remove spaces');
								return false;
					}
                     else if (!isEmail(emailValue)) 
					{
						setErrorFor(email, 'Not a valid email');
								return false;
					}
                     else 
					{
						setSuccessFor(email);
                                
										if(passwordValue === '') 
										{
											setErrorFor(password, 'Password cannot be blank');
													return false;
										}
										else if(password.value.match(space)) 
										{
											setErrorFor(password, 'Remove spaces');
													return false;
										} 
                                        else if(passwordValue.length  <8) 
                                        {
											setErrorFor(password, 'Atleast 8 characters are required');
													return false;
										} 
										else if(passwordValue.match(alphapwd)) 
	        						   {
                						setSuccessFor(password);
                						console.log('Bingo2');
                						return true;
	        							} 
            							else {
                						setErrorFor(password, 'Please add atleast one special characters and use numbers, uppercase and lowercase.');
										return false;
                
            							}

										
										}
									}
					}
				}
	
function setErrorFor(input, message) {
	const formControl = input.parentElement;
	const small = formControl.querySelector('small');
	formControl.className = 'form-control error';
	small.innerText = message;
}
function setSuccessFor(input) {
	const formControl = input.parentElement;
	formControl.className = 'form-control success';
}
	
function isEmail(email) 
{
	return /^([\w\.-]+)@([\w\-]+)\.([a-z]{2,3})(\.[a-z]{2,3})?$/.test(email);
}
// Password strength
function getPasswordStrength(password){
	let s = 0;
	if(password.length > 6){
	  s++;
	}
	if(password.length > 8){
	  s++;
	}
	if(/[A-Z]/.test(password)){
	  s++;
	}
	if(/[0-9]/.test(password)){
	  s++;
	}
	if(/[^A-Za-z0-9]/.test(password)){
	  s++;
	}
	return s;
  }
  document.querySelector(".form-control #password").addEventListener("focus",function(){
	document.querySelector(".form-control .pw-strength").style.display = "block";
  });
  document.querySelector(".form-control .pw-display-toggle-btn").addEventListener("click",function(){
	let el = document.querySelector(".form-control .pw-display-toggle-btn");
	if(el.classList.contains("active")){
	  document.querySelector(".form-control #password").setAttribute("type","password");
	  el.classList.remove("active");
	} else {
	  document.querySelector(".form-control #password").setAttribute("type","text");
	  el.classList.add("active");
	}
  });
  
  
  
  document.querySelector(".form-control #password").addEventListener("keyup",function(e){
	let password = e.target.value;
	let strength = getPasswordStrength(password);
	let passwordStrengthSpans = document.querySelectorAll(".form-control .pw-strength span");
	strength = Math.max(strength,1);
	passwordStrengthSpans[1].style.width = strength*20 + "%";
	if(strength < 2){
	  passwordStrengthSpans[0].innerText = "Weak";
	  passwordStrengthSpans[0].style.color = "#111";
	  passwordStrengthSpans[1].style.background = "#d13636";
	} else if(strength >= 2 && strength <= 4){
	  passwordStrengthSpans[0].innerText = "Medium";
	  passwordStrengthSpans[0].style.color = "#111";
	  passwordStrengthSpans[1].style.background = "#e6da44";
	} else {
	  passwordStrengthSpans[0].innerText = "Strong";
	  passwordStrengthSpans[0].style.color = "#fff";
	  passwordStrengthSpans[1].style.background = "#20a820";
	}
  });
    </script>

  

</body>
</html>

